*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
body{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background: black;
}
h1{
    color: aliceblue;
    font-size: 2rem;
    font-weight: 600;
}
h1 span{
    color: palevioletred;
    position: relative;
}
h1 span::before{
    content: "";
    height: 30px;
    position: absolute;
    top: 50%;
    right: -8px;
    background: purple;
    transform: translate(-45%);
    animation: blank 0.7s infinite;
}
h1 span.stop-blinking::before{
    animation: none;
}
@keyframes blank { 50% (opacity: 0;)
}